:root {
    -unity-font-definition: url("project://database/Assets/Fonts/PottaOne-Regular.ttf?fileID=12800000&guid=edd46e655e95d354ba7d0ff2c2e721dd&type=3#PottaOne-Regular");
}

.text {
    color: rgb(130, 130, 130);
}

.button {
    background-color: rgba(0, 0, 0, 0.51);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    color: rgb(130, 130, 130);
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 0;
    margin-left: 0;
    justify-content: space-evenly;
}

.button:hover {
    color: rgb(200, 200, 200);
}

.button:active {
    color: rgb(255, 255, 255);
}

.panel {
    align-content: center;
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    background-color: rgba(0, 0, 0, 0.78);
    justify-content: center;
}

.fullscreen {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.sticky-left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: auto;
}

.text-big {
    font-size: 32px;
}

.text-centered {
    -unity-text-align: upper-center;
}

.grow {
    flex-grow: 1;
}

.items-centered {
    align-items: center;
}

.content-justified {
    justify-content: center;
}

.hidden {
    display: none;
}

.p-sm {
}

.p-md {
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
}

.rounded-sm {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.rounded-md {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.flex-row {
    flex-direction: row;
}

.transparent {
    background-color: rgba(0, 0, 0, 0);
}

.no-border {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.icon-button {
    -unity-background-image-tint-color: rgb(130, 130, 130);
}

.icon-button:hover {
    -unity-background-image-tint-color: rgb(200, 200, 200);
}

.icon-button:active {
    -unity-background-image-tint-color: rgb(255, 255, 255);
}
